<h3 class="title is-3">
  <%= t('admin.categories.show', category_name: @category.title) %>
</h3>

<div class="container">
  <h4 class="title is-4"><%= @category.title %></h4>
  <h6 class="subtitle is-6"><%= @category.description %></h6>
</div>